<h2><%= t('supplier.new') %></h2>

<form class="form" method="post" action="<%= urlWithLang('/suppliers') %>">
	<label><%= t('supplier.name') %>
		<input type="text" name="name" required />
	</label>
	<label><%= t('supplier.contactEmail') %>
		<input type="email" name="contact_email" />
	</label>
	<button class="btn" type="submit"><%= t('supplier.add') %></button>
</form>


